body {
      background-color:lightblue;
}
#aboutme{
 color:green;     
}
#index{
      color:green;
}
#javascript{
      color:green;
}
h1 {
      margin-left: 200px;
      margin-right: 200px;
}
p {
      margin-left: 200px;
      margin-right: 200px;
}
